<.header>
  Add a price for a grocery item
  <:subtitle>Add a price for a product that we are tracking</:subtitle>
</.header>

<.price_form changeset={@changeset} action={~p"/products/#{@product.id}"} />

<.back navigate={~p"/products"}>Back to products</.back>
