<.simple_form :let={f} for={@changeset} action={@action} multipart>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:photo]} type="file" id="barcode" class="mt-2 block w-full" />
  <:actions>
    <.button>Save Product</.button>
  </:actions>
</.simple_form>
