<.header>
  New Store
  <:subtitle>Use this form to manage store records in your database.</:subtitle>
</.header>

<.store_form changeset={@changeset} action={~p"/stores"} />

<.back navigate={~p"/stores"}>Back to stores</.back>
